[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
python-dotenv = "*"
pandas = "*"
pyarrow = "*"
openpyxl = "*"
aiosfstream = "*"
asyncio = "*"
requests = "*"
kafka-python = "*"
confluent-kafka = "*"
backoff = "*"

[dev-packages]
